.text-lg {
    font-size: var(--spacing-large);
}

.text-md {
    font-size: var(--spacing-medium);
}

.text-xs {
    font-size: var(--spacing-small);
}

.font-secondary {
    font-family: var(--font-secondary), 'Play', sans-serif;
}